extends ../layout/index

block contenido
    div.py-5 
        h1(class="d-flex justify-content-center") Nombre
            span Proyecto
        div(class="d-flex justify-content-center" style="font-size: 30px;")= texto

        if errores
            div(class="border shadow mx-auto my-5 py-2" style="background-color:linear-gradient(135deg, #6e8efb, #4a6cf7); height:auto; max-width:500px; border-radius: 4px; text-align:center; color: #ffebeb;")
                div(class="my-10")
                    each error in errores
                        p(class="p-2 mb-1" , style="font-weight:bold;")= error.msg

        .mt-5.mx-auto(style="max-width:500px;")
            div.bg-white.py-3.px-4.shadow(style="")
                form(method="POST" noValidate)
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div.mt-2
                        <label class="form-label text-uppercase text-muted mb-2 fw-bold " for="password"> Ingresa tu nuevo Password</label>
                        <input id="password" class="form-control px-3 py-2 border rounded-3 placeholder-muted" placeholder="Tu Password" type="password" name="password">
                    div(class="d-flex align-items-center justify-content-between mt-2")
                        a.text-muted.fs-6.text-decoration-none(href="/auth/registro") ¿No tienes cuenta? Crea una
                        a.text-muted.fs-6.text-decoration-none(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                    input(type="submit" value="Guardar Password" class="btn btn-primary mt-3")


