extends ../layout/index

block contenido
    div.py-5 
        h1(class="d-flex justify-content-center") Crear Producto
        .mt-5.mx-auto(style="max-width:600px;")
            div.bg-white.py-3.px-4.shadow
                form(action="/productos/crear" method="POST" enctype="multipart/form-data")
                    input(type="hidden" name="_csrf" value= csrfToken)
                    input(type="hidden" name="estado" value= "1")
                    
                    div.mt-2
                        label(class="form-label text-uppercase text-muted mb-2 fw-bold" for="nombre") Nombre del Producto
                        input(type="text" id="nombre" name="nombre" class="form-control" required)
                    
                    div.mt-2
                        label(class="form-label text-uppercase text-muted mb-2 fw-bold" for="descripcion") Descripción
                        textarea(id="descripcion" name="descripcion" class="form-control" rows="3")
                    
                    div.row
                        div.mt-2.col-4
                            label(class="form-label text-uppercase text-muted mb-2 fw-bold" for="precio") Precio
                            div.input-group
                                span.input-group-text
                                    i.fas.fa-dollar-sign
                                input(type="number" id="precio" name="precio" class="form-control" required)
                        
                        div.mt-2.col-2
                            label(class="form-label text-uppercase text-muted mb-2 fw-bold" for="stock") Stock
                            input(type="number" id="stock" name="stock" class="form-control" required)
                    
                        div.mt-2.col-6
                            label(class="form-label text-uppercase text-muted mb-2 fw-bold" for="categoria") Categoría
                            select(id="categoria" name="categoria_id" class="form-control")
                                option(value="") Selecciona una categoría
                                each categoria in categorias
                                    option(value=categoria.id) #{categoria.nombre}
                    
                    div.mt-2
                        label(class="form-label text-uppercase text-muted mb-2 fw-bold" for="imagen") Imagen
                        input(type="file" id="imagen" name="imagen" accept="image/*" class="form-control")
                    
                    input(type="submit" value="Guardar Producto" class="btn btn-primary mt-3")

    script.
        console.log("CSRF Token en la vista:", !{JSON.stringify(csrfToken)});


