extends ../layout/index

block contenido
    div.py-5 
        h1(class="d-flex justify-content-center") Pagina Principal
        //- div(class="d-flex justify-content-center" style="font-size: 30px;")= pagina
        div(class="d-flex justify-content-center" style="font-size: 30px;") Mis elementos


        //- a(href="/propiedades/crear" class="text-decoration-none py-2 px-2 bg-secondary rounded-2 text-white fw-bold text-uppercase" target="_blank") Publicar Propiedades
        a(href="/propiedades/crear" class="text-decoration-none py-2 px-2 bg-secondary rounded-2 text-white fw-bold text-uppercase" target="_blank") Botón Random