body {
  font-family: 'Oswald', sans-serif !important;
}


.filter-options-container{
    width:25%; 
    padding: 95px 70px 0px 100px;
}

.filter-options{
    height: auto;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta la sombra según sea necesario */
    overflow: hidden;
}

.filter-header{
    height: 50px;
    .filter-icon{
        background-color: green;
        width: 65px;
        border-radius: 0px 0px 0px 20px;
    }
}

.product-item:hover{
    background-color: #f5f5f5;
}

.floating-icon {
    position: fixed; /* Fijar el ícono en la pantalla */
    bottom: 20px;    /* Distancia desde la parte inferior */
    left: 20px;      /* Distancia desde el lado izquierdo */
    width: 50px;     /* Tamaño del ícono */
    height: 50px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del icono si es texto */
    display: flex; /* Para centrar el contenido */
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Para que sea circular */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    cursor: pointer;
}

.add-to-cart{
    font-size:18px; 
    background-color: #33A2A2 ; 
    color: white; 
    padding: 9px 10px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    width: 75%;
    max-width: 200px;
}

/* Estilos del modal */
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 1200px;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
}

.modal-content {
width:1200px !important;
background: white;
padding: 20px;
border-radius: 8px;
text-align: center;
position: relative;
}

.close-btn {
position: absolute;
top: 10px;
right: 15px;
font-size: 18px;
cursor: pointer;
}

