doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Titulo Proyecto | #{pagina}

        //- Ruta para utilizar TailwindCss
        //- link(rel="stylesheet", href="/css/app.css")

        //- Ruta para utilizar Bootstrap en el proyecto
        <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
        <script src="/dist/js/bootstrap.bundle.min.js"></script>

    body.min-h-screen.bg-gray-50(style="background-color:#f6f8fb;")

        //- Header de la aplicación
        if barra
            include ../components/header
            div(id="main-menu", class="d-flex text-uppercase fw-bold align-items-center", style=" height: 50px;  background-color: #ebc579 !important; justify-content: space-around; padding: 0px 200px;")
                a.main-menu-btn Menu 1
                a.main-menu-btn Menu 2
                a.main-menu-btn Menu 3
                a.main-menu-btn Menu 4
                a.main-menu-btn Menu 5
                a.main-menu-btn Menu 6
        else 
            div(id="slider-container", style="background-color: black; height: 10vh;")
            //#f6f8fb;


        main(class="mx-auto container mt-10 px-2")
            block contenido

    style. 
        .main-menu-btn{
            text-decoration: none;
            height: auto;
            color: black;
        }
        .main-menu-btn:hover {
            background-color: black;
            cursor: pointer;
            text-decorarion:none;
        }
    