doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Titulo Proyecto | #{pagina}

        //- Ruta para utilizar TailwindCss
        //- link(rel="stylesheet", href="/css/app.css")

        //- Ruta para utilizar los estilos personalizados
        link(rel="stylesheet", href="/css/index.css")

        //- Ruta para utilizar Bootstrap en el proyecto
        <link rel="stylesheet" href="/dist/css/bootstrap.min.css">

        //- Ruta para utilizar FontAwesome en el proyecto
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="/dist/js/bootstrap.bundle.min.js"></script>

        <script src="/utilidades.js"></script>
    body.min-h-screen.bg-gray-50(style="background-color:#f6f8fb; font-family: sans-serif;")

        //- Header de la aplicación
        if barra
            include ../components/header
            div(id="main-menu", class="d-flex text-uppercase fw-bold align-items-center", style=" height: 50px; line-height:50px; justify-content: space-around; padding: 0px 200px; border: solid black 1px;")
                a.main-menu-btn(href="/index" style="width:200px; text-align:center;") Inicio
                a.main-menu-btn(href="/productos/lista" style="width:200px; text-align:center;") Productos
                a.main-menu-btn(style="width:200px; text-align:center; max-height: 100%;") Sobre Nosotros
                a.main-menu-btn(style="width:200px; text-align:center;") Ayuda
                a.main-menu-btn(style="width:200px; text-align:center;") Contáctanos
        else 
            div(id="slider-container", style="background-color: black; height: 10vh;")
            //#f6f8fb;


        //- main(class="mx-auto container mt-10 px-2" style="width:100%;")
        //-     block contenido
        main(class="mx-auto mt-10 px-2" style="width:100%;")
            block contenido

    style. 
        .main-menu-btn{
            text-decoration: none;
            height: auto;
            color: black;
        }
        .main-menu-btn:hover {
            background-color: #938d8d;;
            cursor: pointer;
            text-decorarion:none;
        }
    